/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .form-inline {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.info-btn {
  text-decoration: none;
  padding-right: 7px;
  margin-top: 3px;
}

.row.cards {
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
}

.card-content {
  background-color: #F8F9FA;
  border-bottom: 1px solid lightgrey;
  padding: 24px;
}

.card-actions {
  padding: 16px 24px;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
